@import url('https://fonts.googleapis.com/css?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One&display=swap');

body{
    margin: 0;
    background-color: white;
    font-family: 'Open Sans';
    color: #2E4106;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

header{
    background-image: linear-gradient(rgba(70, 67, 67, 0.2), rgba(0, 0, 0, 0.2)), url("../images/ViewAvailableRooms/trees2.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 45.5vh;
    background-position: 0px -320px;
}

.Booktitle{
    font-size: 40px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Yeseva One';
    font-style: italic;
    text-shadow: 0 2px 2px #888888;
    margin-top: 17.8%;
}

 .summary{
    background-color: rgb(46, 65, 6, 0.7);
    color: white;
    letter-spacing: 1px;
/*    border: 1px solid #2E4106;*/
     border-radius: 10px;
}

.summary p{
    font-size: 13px;
    margin-bottom: 0px;
}

#container {
    background-color: rgb(238, 231, 228,1);
/*    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);*/
    box-shadow: 5px 5px 10px rgb(175, 165, 151,0.3);
    position: sticky;
    position: -webkit-sticky;
    top: 18%;
}

.bgcolor{
    background-color: white;
}

#charge {
    align-items: center;
    text-align: center;
}

#charge h1{
    font-size: 30px;
    letter-spacing: 1px;
    background-color: rgb(238, 231, 228,1);
    font-weight: 1000;
}


#charge .first{
    text-align: left;
    letter-spacing: 1px;
    font-weight: 1000;
    font-size: 13px;
    
}

#charge .second{
    text-align: right;
    letter-spacing: 1px;
    font-size: 13px;
}

#chargeBtn.btn{
    letter-spacing: 1px;
    border-radius: 30px;
    color: black;
    border-color: black;
    background-color: transparent;
}


#chargeBtn.btn:hover{
    letter-spacing: 1px;
    border-radius: 30px;
    color: black;
/*    border-color: #EFA07E;*/
    background-color: #EFA07E;
}

#guest_form .style{
    font-family: 'Yeseva One';
    font-size: 25px;
}

#guest_form .subheader{
    font-size: 10px;
    font-style: italic;
}

#guest{
    padding-left: 0px;
/*    padding-right: ;*/
}

.form-control{
    background-color: whitesmoke;
    color: black;
}

#guest_form label{
    font-style: bold;
    letter-spacing: 1px;
    font-size: 15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #f5f5f5 inset !important;
}

.form-control:focus {
    border-color: rgb(233, 208, 208, 1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 208, 208, 0.6);
    background-color: rgb(245, 245, 245, 0.8);
}

.error-label.mr-auto {
    color: #8D1515;
    font-size: 12px;
    font-style: italic;
}

.error-label.mr-auto a{
    color: #8D1515;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
}

.error-label.mr-auto a:hover{
    color: #9EAFBA;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
}

.modal-footer a {
    border-radius: 0;
    color: white;
    border-color: #EFA07E;
    background-color: #EFA07E;
    font-size: 15px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
    /*    font-weight: bold;*/
}

/* .modal-footer a:focus {
    outline: none;
} */

.modal-footer a:hover {
    color: white;
    opacity: 80%;
    background-color: #A9A9A9;
    border-color: #A9A9A9;
    font-size: 15px;
    /*    font-weight: bold;*/
    text-decoration: none;
}

#yesbtn.btn {
    border-radius: 0;
    color: white;
    border-color: #EFA07E;
    background-color: #EFA07E;
    font-size: 15px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 6px;
    padding-bottom: 7px;
    opacity: 100%;
    /*    font-weight: bold;*/
}

/* .modal-footer a:focus {
    outline: none;
} */

#yesbtn.btn:hover {
    color: white;
    opacity: 80%;
    background-color: #A9A9A9;
    border-color: #A9A9A9;
    font-size: 15px;
    /*    font-weight: bold;*/
    text-decoration: none;
}

.modal-footer .btn{
    border-radius: 0;
    color: white;
    opacity: 80%;
    background-color: #A9A9A9;
    border-color: #A9A9A9;
    font-size: 15px;
    /*    font-weight: bold;*/
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:5px;
}

.modal-footer .btn:hover{
   
    border-radius: 0;
    color: white;
    border-color: #EFA07E;
    background-color: #EFA07E;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:5px;
    text-decoration: none;
    opacity: 100%;
}

.modal-content{
    background-color: whitesmoke;
}

@media only screen and (max-height: 3000) {
    header{
        height: 500.5vh;
        background-image: linear-gradient(rgba(70, 67, 67, 0.2), rgba(0, 0, 0, 0.2)), url("../images/ViewAvailableRooms/trees2.jpeg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    
}

@media only screen and (max-height: 788) {
    header{
        height: 200.5vh;
        background-image: linear-gradient(rgba(70, 67, 67, 0.2), rgba(0, 0, 0, 0.2)), url("../images/ViewAvailableRooms/trees2.jpeg");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    } 
}